@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900;
  }
  
  button {
    @apply cursor-pointer outline-none;
  }

  input:not([type="checkbox"]) {
    @apply outline-none border border-slate-200 focus:border-slate-800 rounded-lg transition-colors bg-white px-4 py-2;
  }

  textarea {
    @apply outline-none border border-slate-200 focus:border-slate-800 rounded-lg resize-none transition-colors bg-white p-3;
  }
}